block content
    .container(style='left: 400px;')
        #carousel
            canvas.rotate
            canvas.rotate_offset
            canvas.rotate
            canvas.rotate_offset
            canvas.rotate

    .container(style='left: 400px;')
        #carousel2
            canvas.rotate
            canvas.rotate_offset
            canvas.rotate
            canvas.rotate_offset
            canvas.rotatea

    img#brit(src='/Brit.png')
    img#usa(src='/USA.png')