/*.clock-digital{
    display: inline;
}

.circle {
    background: gainsboro;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    width: 200px;
    height: 200px;
    /* width and height can be anything, as long as they're equal */


/*}

.minutehand{
    background: black;
    width: 5px;
    height: 100px;

    -ms-transform: rotate(0deg); /* IE 9
    -webkit-transform: rotate(0deg);  Chrome, Safari, Opera
    transform: rotate(0deg);
    margin: auto;

    z-index: 1;
    position: relative;
    top: -75px;
    transform-origin: bottom;
}

.hourhand{
    background: gold;
    width: 5px;
    height: 75px;

    -ms-transform: rotate(0deg); /* IE 9
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera
    transform: rotate(0deg);

    position: relative;
    top: 25px;
    margin: auto;
    z-index: 3;
    transform-origin: bottom;
}

.secondhand{
    background: red;
    width: 5px;
    height: 50px;

    -ms-transform: rotate(0deg); /* IE 9 *
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera
    transform: rotate(0deg);

    top: -125px;
    position: relative;
    margin: auto;
    z-index: 3;
    transform-origin: bottom;
}
*/
/* These CSS styles all apply to the SVG elements defined below */
#clock {                          /* styles for everything in the clock */
    stroke: #fff;                 /* black lines */
    stroke-linecap: round;         /* with rounded ends */
    fill: #001769;                    /* on a light blue gray background */
}
#face { stroke-width: 2px;}       /* clock face outline */
#ticks { stroke-width: 2; }       /* lines that mark each hour */
#hourhand {stroke-width: 5px; }    /* wide hour hand */
#minutehand {stroke-width: 3px;}  /* narrow minute hand */
#numbers {                        /* how to draw the numbers */
    font-family: sans-serif; font-size: 7pt; font-weight: bold;
    text-anchor: middle; stroke: none; fill: black;
    fill: #fff;
}