h1.heading Instructions
p#instruction Our goal is to develop a restful web service called cloudchat.

p#step1 The web server hosted by Node should be able to work with the CloudChat web service (say, hosted by TomCat or GlassFish).

p#step2 The side region should comtain buttons through which a user can register to and later join this service. The user may also want to know who are the active users on line, or find out who is the person who have contributed the most (potential leaders in the community).

p#step3 The main service offered by this RESTful web service is to allow users to freely share messages with each other, where the messages may be organized by themes (or topics). Whenever a user sends in a new message, it is first filtered by this service. All messages passed the filter will be broadcasted to all the active users.
br