block side_nav
    #headDiv.sideroot
        form#interact(method='post')
            fieldset
                input(type='submit', name='Register', id='Register', value='Register', onclick='return false;')
                br
                br
                input(type='submit', name='Login', id='Login', value='Login', onclick='return false;')
                br
                br
                input(type='submit', name='Browser', id='Browser', value='Browser', onclick='return false;')
                br
                br
                input(type='submit', name='Chat', id='Chat', value='Chat', onclick='return false;')
                br
                br
                input(type='submit', name='Who Leader', id='Leader', value='Who Leader', onclick='return false;')