extends question_layout

block question
    #question10
        h1 Question 10
        p Where are cookies normally stored?
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | Java
            br
            label
                input(type="radio", name="q", value="2")
                | Script Kiddie
            br
            label
                input(type="radio", name="q", value="3")
                | LiveScript
            br
            label
                input(type="radio", name="q", value="4")
                | InLine
            br

