extends question_layout

block question
    #question9
        h1 Question 9
        p Where are cookies normally stored?
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | cookies.txt
            br
            label
                input(type="radio", name="q", value="2")
                | cookies.js
            br
            label
                input(type="radio", name="q", value="3")
                | browsercook.txt
            br
            label
                input(type="radio", name="q", value="4")
                | grandmascookies.txt
            br
