extends question_layout

block question
    #question5
        h1 Question 5
        p When declaring a variable you have type.
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | True
            br

            label
                input(type="radio", name="q", value="2")
                | False
            br


