doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        style(type='text/css').
            .container {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    body
        .container
            .btn-group-vertical(role='group')
                button.btn.btn-primary(type='button', id='start', onclick='start();') Start

                button.btn.btn-default(type='button', id='previous', onclick='previous_page();') Previous

                button.btn.btn-default(type='button', id='next',onclick='next_page();') Next

                button.btn.btn-default(type='button', id='last',onclick='last();') Last

                button.btn.btn-warning(type='button', id='submit',onclick='submit();') Submit

                button.btn.btn-default(type='button', id='email',onclick='email();') Email

            #score



script(src="/quiz.js")
script(src='https://code.jquery.com/jquery-2.2.1.min.js')