extends question_layout

block question
    #question7
        h1 Question 7
        p Which of the following is NOT a Javascript data type?
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | Boolean
            br

            label
                input(type="radio", name="q", value="2")
                | Function
            br

            label
                input(type="radio", name="q", value="3")
                | Integer
            br

            label
                input(type="radio", name="q", value="4")
                | Undefined
            br


block nav
    a.btn.btn-default(onclick="store_answer()", href="/EvalTool/quiz/question6") Previous
    a.btn.btn-primary(onclick="store_answer()", href="/EvalTool/quiz/question8") Next