extends question_layout

block question
    div#question4
        h1 Question 4
        p Javascript is another name for Java?
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | True
            br

            label
                input(type="radio", name="q", value="2")
                | False
            br


block nav
    a.btn.btn-default(onclick="store_answer()", href="/EvalTool/quiz/question3") Previous
    a.btn.btn-primary(onclick="store_answer()", href="/EvalTool/quiz/question5") Next