extends question_layout

block question
    #question8
        h1 Question 8
        p True or False: You declare an array like this "var script = new Array()
        .radio#questions
            label
                input(type="radio", name="q", value="1")
                | True
            br
            label
                input(type="radio", name="q", value="2")
                | False


block nav
    a.btn.btn-default(onclick="store_answer()", href="/EvalTool/quiz/question7") Previous
    a.btn.btn-primary(onclick="store_answer()", href="/EvalTool/quiz/question9") Next