extends layout
append head
  link(href='stylesheets/webhome.scss' rel='stylesheet' type='text/css')
block mainbody
  h1.heading Course Description
  h2.heading Objective
  p The goal of the course is to introduce students to the most significant and exciting
            | computing paradigm--net-centric computing and service-oriented computing, which
            | is expected to have an impact on all aspects of software construction at least
            | as wide as that of object-oriented paradigm. This is a wide area and it is
            | ever-evolving We focus on the following aspects
  h2.heading On the client
  p We will learn HTML5, Cascading Style Sheets, and JavaScript to develop the client side of Rich Web Applications.
  h2.heading Client-server Communication
  p We will learn Ajax. We will also learn how JavaScript Object Notation (JSON) can sometimes be used as a viable alternative to XML for server to client data transmission.
  h2.heading On the server
  p We will learn about a variety of server-side technologies, especially focusing on the node framework and simple RESTful web services.